.CtaButton-Container {
  margin: auto;
}
.Common-CtaButton {
  color: white;
  background-color: #0068b5;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}
.Common-CtaButton:hover {
  background-color: #004a86;
}
.Common-CtaButton:disabled {
  background-color: #e9eaeb;
  color: #b3b4ba;
  cursor: auto;
}
.Common-CtaButton:active {
  background-color: #00285a;
}
.Common-CtaButton:focus {
  
  outline-width: 4pt;
  outline-color: #0068b5;
  outline-offset: 2pt;
}
.Big {
  height: 40pt;
  padding: 8pt 20pt 8pt 20pt;
  font-size: 16pt;
}
.Normal {
  height: 32pt;
  padding: 8pt 16pt 8pt 16pt;
  font-size: 14pt;
}
.Small {
  height: 24pt;
  padding: 4pt 12pt 4pt 12pt;
  font-size: 12pt;
}
